.section {
  padding: 15px;
}

.title {
  font-weight: 600;
  font-size: 26px;
}

button {
  margin-left: 10px;
  min-width: 100px;
  padding: 5px;
  text-transform: capitalize;
}

.notification {
  padding: 15px;
  font-size: 20px;
}
